<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::header(title='allCustomers')">
</head>  
<body>
            
    <div th:replace="fragments/main::displayPost"></div>
            
	<h1>All customers</h1><br/><br/>
	
	
	<table>
	  	<thead>
        	<tr class="customerTable">
        		<th th:text="'Id'"></th>   
            	<th th:text="'First name'"></th>
            	<th th:text="'Last name'"></th>
            	<th th:text="'City'"></th>     
        	</tr>
      	</thead>
		<tbody>
        	<tr th:each="customer : ${customers}">
          		<td th:text="${customer.id}"></td>
       	  		<td th:text="${customer.firstName}"></td>
       	  		<td th:text="${customer.lastName}"></td>
       	  		<td th:text="${customer.city}"></td>
        	</tr>
        </tbody>
	</table>
	
	
</body>
</html>